.hero-image {
  width: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  object-fit: cover;
  max-height: 500px;
}

.search-fields-container {
  position: absolute;
  top: -175px;
  left: 100px;
  width: 500px;
}
